{% extends "base.html.twig" %}
    {#Esta vista necesita un array de productos con los productos que el
    usuario haya añadido al carrito de la compra, ademas de la cantidad
    de ese producto#}
{% block titulo %}
    Revisa tu pedido
{% endblock %}

{% block navbarContent%}
    <div>
        <a href="./index.php?controller=producto"><i class="fas fa-utensils"></i></a>
    </div>
{% endblock %}

{% block carousel %} {% endblock %}


{% block content %}
    {% if productos is defined %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for clave, producto in productos %}
                <tr>
                    <th scope="row">{{ producto.nombre }}</th>
                    <td><input class="form-control cuantity" type="number" min="{{ producto.pedidoMin }}" name="cantidad{{ producto.nombre }}" value="{{ productosCuantity[clave] }}"></td>
                    <td class="precios">{{ producto.precio }}€</td>
                    <td><button type="button" class="btn btn-danger eliminar" value="{{ producto.idproducto }}">Eliminar</button> </td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row">Precio Total:</th>
                    <td id="precioTotal"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr rowspan="3">
                    <th colspan="4">
                        <div class="col-md-7 offset-md-2">
                            <form method="post" action="./index.html?controller=pedido&action=">
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="nombre" name="nombre">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fecha" class="col-sm-3 col-form-label">Fecha de recogida</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" name="fecha" id="fecha">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="telefono" class="col-sm-3 col-form-label">Teléfono</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="telefono">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="textarea" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input type="submit" value="Terminar pedido" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    {% else %}
        <div class="offset-md-3 col-md-5 text-center">
            <h6>No se han añadido productos a tu carrito. Añade productos <a href="../index.php">aquí</a></h6>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="./view/js/cart.js" rel="script" type="text/javascript"></script>
{% endblock %}
