{% extends "base.html.twig" %}
    {# Requiere los siguientes datos:
        un array con todas las categorias, que contengan id, nombre y
        cada una de ellas, un array con todos los datos de los productos
        que contienen
    #}
{% block titulo %}
    Cat&aacute;logo de productos
{% endblock %}

{% block navbarContent%}
    <div class="pt-2">
        <a href="./index.php?controller=pedido&action=mostrarCarrito"><i class="fas fa-shopping-cart"></i><span id="cartBadge" class="badge badge-primary
         {% if cartCuantity==0 %}
            d-none
         {% endif %} ml-1">{{ cartCuantity }}</span></a>

    </div>

{% endblock %}

{% block content %}
    <div class="toast-container p-4"  aria-live="polite" aria-atomic="true"></div>

    <div class="container-fluid">
        {% for categoria in categorias %}
            <div class="card categoria-closed">
                <div class="card-body">
                    <a class="btn btn-link text-primary d-block desplegable" data-toggle="collapse" data-target="#categoria{{ categoria.idcategoria }}" aria-expanded="false" aria-controls="categoria{{ categoria.idcategoria }}" >
                        <div class="row">
                            <div class="col-10 text-left">{{ categoria.nombre }}</div>
                            <div class="col-2 text-right"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row collapse contenidoCategoria" id="categoria{{ categoria.idcategoria }}">
                {% for producto in categoria.productos %}
                    <div class="col-12 text-center col-md-4">
                        <figure class="figure">
                            <img src="{% if producto.rutaImg == "#" %}./view/media/productImg/default_product.jpg{% else %}{{ producto.rutaImg }}{% endif %}" alt="{{ producto.nombre }}" class="rounded img-fluid" width="200px" height="200px">
                            <figcaption class="figure-caption">
                                {{ producto.nombre }}
                            </figcaption>
                        </figure>
                        <br>
                        <div class="text-wrap badge badge-primary">{{ producto.descripcion }}</div>
                        <div class="text-wrap badge badge-primary">{{ producto.precio }}€</div>
                        <div class="text-wrap badge badge-primary">M&iacute;nimo de {{ producto.pedidoMin }}</div>
                        <br><br>
                        <div class="form-group mx-auto  text-center">
                            <input  class="form-control" type="number" id="spinner{{ producto.idproducto }}" min="{{ producto.pedidoMin }}" value="{{ producto.pedidoMin}}" name="cantidad">
                            <button type="button" class="btn btn-primary addCart mt-2" value="{{ producto.idproducto }}">A&ntilde;adir</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
         {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="./view/js/catalogo.js" type="text/javascript"></script>
{% endblock %}
