{% extends "adminbase.html.twig" %}

{% block titulo %}Cat&aacute;logo{% endblock %}

{% block navbarContent %}{% endblock %}

{% block contentIzq %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-warning">A&ntilde;adir categoría</a>
            </div>
        </div>
        {% for categoria in categorias %}
            <div class="card">
                <div class="card-body">
                    <button class="btn-link" type="button" data-toggle="collapse" data-target="#categoria{{ categoria.id }}" aria-expanded="false" aria-controls="categoria{{ categoria.id }}" >{{ categoria.nombre }}</button>
                    <a href="#" class="btn btn-warning">Cambiar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block contentDer %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-warning">A&ntilde;adir producto</a>
            </div>
        </div>
        {% for categoria in categorias %}
            <div class="row collapse" id="categoria{{ categoria.id }}">
                {% for producto in categoria.productos %}
                    <div class="col-12 col-md-4">
                        <figure class="figure float-left">
                            <img src="#" alt="{{ producto.nombre }}" class="rounded img-fluid" width="200px" height="200px">
                            <figcaption class="figure-caption">
                                {{ producto.nombre }}
                            </figcaption>
                        </figure>
                        <span>{{ producto.descripcion }}</span>
                        <span>{{ producto.precio }}€</span>
                        <span>M&iacute;nimo de {{ producto.minimo }}</span>
                        <a href="#" class="btn btn-success">Editar</a>
                        <a href="#" class="btn btn-danger">Borrar</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}