{% extends "base.html.twig" %}
    {# Requiere los siguientes datos:
        un array con todas las categorias, que contengan id, nombre y
        cada una de ellas, un array con todos los datos de los productos
        que contienen
    #}
{% block titulo %}
    Cat&aacute;logo de productos
{% endblock %}

{% block navbarContent%}
    <div class="">
        <a href="./index.php?controller=pedido&action=mostrarCarrito"><i class="fas fa-shopping-cart"></i></a>

    </div>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for categoria in categorias %}
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#categoria{{ categoria.idcategoria }}" aria-expanded="false" aria-controls="categoria{{ categoria.idcategoria }}" >{{ categoria.nombre }}</button>
                </div>
            </div>
            <div class="row collapse" id="categoria{{ categoria.idcategoria }}">
                {% for producto in categoria.productos %}
                    <div class="col-12 text-center col-md-4">
                        <figure class="figure">
                            <img src="./view/media/default_product.jpg" alt="{{ producto.nombre }}" class="rounded img-fluid" width="200px" height="200px">
                            <figcaption class="figure-caption">
                                {{ producto.nombre }}
                            </figcaption>
                        </figure>
                        <br>
                        <div class="text-wrap badge badge-primary">{{ producto.descripcion }}</div>
                        <div class="text-wrap badge badge-primary">{{ producto.precio }}€</div>
                        <div class="text-wrap badge badge-primary">M&iacute;nimo de {{ producto.pedidoMin }}</div>
                        <br><br>
                        <form action="index.php?controller=producto&action=addcarrito" method="post" class="form-inline">
                            <div class="form-group mx-auto">
                                <input  class="form-control" type="number" id="spinner{{ producto.idproducto }}" min="{{ producto.pedidoMin }}" value="{{ producto.pedidoMin}}" name="cantidad">
                                <button type="button" class="btn btn-primary addCart" value="{{ producto.idproducto }}">A&ntilde;adir</button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
         {% endfor %}
    </div>
{% endblock %}