{% extends "adminbase.html.twig" %}

{% block titulo %}
    Gesti&oacute;n de pedidos
{% endblock %}

{% block navbarContent %} {% endblock %}
{% block carousel %} {% endblock %}

{% block contentIzq %}
    <div class="container-fluid">
        <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#sinConfirmar" aria-expanded="false" aria-controls="sinConfirmar">Sin Confirmar</button>
        <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#Confirmados" aria-expanded="false" aria-controls="Confirmados">Confirmados</button>
    </div>
{% endblock %}

{% block contentDer %}
    <div class="container-fluid">
        <div class="row collapse" id="sinConfirmar">
            {% for pedido in pedidos.sinConfirmar %}
                    <div class="col-12 col-lg-4" id="{{ pedido.idpedido }}">
                        <div class="card w-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ pedido.idpedido }}</h5>
                                <h6 class="card-subtitle">{{ pedido.fecha }}</h6>
                                <span>{{ pedido.cliente.email }}</span>
                                <br>
                                <span>{{ pedido.cliente.telefono }}</span>
                                <ul class="list-group list-group-flush">
                                {% for producto in pedido.productos %}
                                    <li class="list-group-item">{{ producto.nombre }} x <span class="badge badge-primary badge-pill">{{  producto.cantidad }}</span></li>
                                {% endfor %}
                                </ul>
                                <form action="index.php?controller=pedido&action=deletePedido&id" method="post" class="form-inline">
                                    <button class="btn btn-success" id="btnAceptar">Aceptar</button>
                                    <button class="btn btn-danger" id="btnBorrar">Rechazar</button>
                                </form>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="row collapse" id="Confirmados">
            {% for pedido in pedidos.Confirmados %}
                <div class="col-12 col-lg-4" id="{{ pedido.idpedido }}">
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ pedido.idpedido }}</h5>
                            <h6 class="card-subtitle">{{ pedido.fecha }}</h6>
                            <span>{{ pedido.cliente.email }}</span>
                            <br>
                            <span>{{ pedido.cliente.telefono }}</span>
                            <ul class="list-group list-group-flush">
                            {% for producto in pedido.productos %}
                                <li class="list-group-item">{{ producto.nombre }} x <span class="badge badge-primary badge-pill">{{ producto.cantidad }}</span></li>
                            {% endfor %}
                            </ul>
                            <form action="index.php?controller=pedido&action=deletePedido&id" method="post" class="form-inline">
                                <button class="btn btn-success" id="btnAceptar">Finalizado</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}