{% extends "adminbase.html.twig" %}

{% block titulo %}
    Gesti&oacute;n de pedidos
{% endblock %}

{% block navbarContent %} {% endblock %}
{% block carousel %} {% endblock %}

{% block contentIzq %}
    <div class="container-fluid">
        <button class="btn btn-primary active border-info w-100" type="button" data-toggle="collapse" data-target="#sinConfirmar" aria-expanded="false" aria-controls="botonSinConfirmar" id="botonSinConfirmar">Pendientes</button>
        <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#Confirmados" aria-expanded="false" aria-controls="botonConfirmados" id="botonConfirmados">Confirmados</button>
    </div>
{% endblock %}

{% block contentDer %}
    <div class="container-fluid">
        <div class="row collapse show" id="sinConfirmar">
            {% for pedido in pedidos.sinConfirmar %}
                    <div class="col-12 col-lg-4" id="{{ pedido.idpedido }}">
                        <div class="card w-100 pedidoCard" >
                            <div class="card-body">
                                <h4 class="card-title">Pedido #{{ pedido.idpedido }}</h4>
                                <h6 class="card-subtitle"><mark class="badge-pill">{{ pedido.fecha }}</mark></h6>
                                <span class="badge badge-light mt-3">{{ pedido.cliente.nombre }} <i class="fas fa-long-arrow-alt-right"></i> <a href="{{ pedido.cliente.email }}" class="card-link">{{ pedido.cliente.email }}</a></span>
                                <span class="badge badge-light">{{ pedido.cliente.telefono }}</span>
                                <ul class="list-group list-group-flush mt-3">
                                {% for producto in pedido.productos %}
                                    <li class="list-group-item"><span class="badge badge-primary badge-pill">{{  producto.cantidad }}</span> <b>{{ producto.nombre }}</b></li>
                                {% endfor %}
                                </ul>
                                <form action="index.php?controller=pedido&action=deletePedido&id" method="post" class="form-inline mt-3">
                                    <button class="btn btn-success" id="btnAceptar"><i class="fas fa-check"></i> Aceptar</button>
                                    <button class="btn btn-danger" id="btnBorrar"><i class="fas fa-trash"></i> Rechazar</button>
                                </form>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="row collapse" id="confirmados">
            {% for pedido in pedidos.Confirmados %}
                <div class="col-12 col-lg-4" id="{{ pedido.idpedido }}">
                    <div class="card w-100 pedidoCard">
                        <div class="card-body">
                            <h4 class="card-title">Pedido #{{ pedido.idpedido }}</h4>
                            <h6 class="card-subtitle"><mark class="badge-pill">{{ pedido.fecha }}</mark></h6>
                            <span class="badge badge-light mt-3">{{ pedido.cliente.nombre }} <i class="fas fa-long-arrow-alt-right"></i> <a href="{{ pedido.cliente.email }}" class="card-link">{{ pedido.cliente.email }}</a></span>
                            <span class="badge badge-light">{{ pedido.cliente.telefono }}</span>
                            <ul class="list-group list-group-flush mt-3">
                            {% for producto in pedido.productos %}
                                <li class="list-group-item"><span class="badge badge-primary badge-pill">{{ producto.cantidad }}</span> <b>{{ producto.nombre }}</b></li>
                            {% endfor %}
                            </ul>
                            <form action="index.php?controller=pedido&action=deletePedido&id" method="post" class="form-inline mt-3">
                                <button class="btn btn-success" id="btnAceptar"><i class="fas fa-check-double"></i> Finalizado</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="./view/js/pedido.js" type="text/javascript"></script>
{% endblock %}